// 基本色
$--color-black:#000000 !default;
$--color-white:#FFFFFF !default;
// 基本色鲜艳
$--color-weak:#606266 !default;
$--color-nomal:#ff9b54 !default;
$--color-success:#43aa8b !default;
$--color-warning:#f9c74f !default;
$--color-danger: #f94144 !default;
$--color-disabled: #bbbbbb !default;
$--color-difference: #F5F7FA !default;
$--color-border: #f0f0f0 !default;
$--color-font: #666 !default;
// 字体
$--size-big: 16px;
$--size-nomal: 14px;
$--size-small: 12px;
// 输入框
$--color-input-placeholder:#aaa